<h1>{{test}}</h1>

<mat-card *ngFor="let user of users" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user.fName + ' ' + user.lName}}</mat-card-title>
    <mat-card-subtitle>{{user.age}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Användarnamn: {{user.username}}
    </p>
    <p>
      Mail: {{user.mail}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" [disabled]="user.isRegistered" mat-raised-button (click)="registerUser(user)">Registrera</button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="primary" (click)="updateUsers()">Uppdatera användare</button>
