
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// custom palettes
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #e0ffe2,
  100 : #b3ffb7,
  200 : #80ff87,
  300 : #4dff56,
  400 : #26ff32,
  500 : #00ff0e,
  600 : #00ff0c,
  700 : #00ff0a,
  800 : #00ff08,
  900 : #00ff04,
  A100 : #ffffff,
  A200 : #f2fff2,
  A400 : #bfffbf,
  A700 : #a6ffa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #e0f8ff,
  100 : #b3efff,
  200 : #80e4ff,
  300 : #4dd9ff,
  400 : #26d0ff,
  500 : #00c8ff,
  600 : #00c2ff,
  700 : #00bbff,
  800 : #00b4ff,
  900 : #00a7ff,
  A100 : #ffffff,
  A200 : #f2faff,
  A400 : #bfe6ff,
  A700 : #a6dcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warn: (
  50 : #fff1e5,
  100 : #ffdbbd,
  200 : #ffc392,
  300 : #ffab66,
  400 : #ff9945,
  500 : #ff8724,
  600 : #ff7f20,
  700 : #ff741b,
  800 : #ff6a16,
  900 : #ff570d,
  A100 : #ffffff,
  A200 : #fff9f6,
  A400 : #ffd3c3,
  A700 : #ffc0aa,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$intro-primary: mat-palette($md-primary);
$intro-accent: mat-palette($md-accent);

// The warn palette is optional (defaults to red).
$intro-warn: mat-palette($md-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$intro-theme: mat-light-theme((
  color: (
    primary: $intro-primary,
    accent: $intro-accent,
    warn: $intro-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($intro-theme);

